<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculator Application</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="vendors/jquery.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="calculations">
      <h1>Calculator Application</h1>
      <h2>
        <input type="number" id="firstInput">
        <input type="number" id="secondInput">
      </h2>
      <h3>
        <button type="button" class="calculate" id="add" name="Add">+</button>
        <button type="button" class="calculate" id="subtract" name="Subtract">-</button>
        <button type="button" class="calculate" id="multiply" name="Multiply">*</button>
        <button type="button" class="calculate" id="divide" name="Divide">/</button>
        <button type="button" class="clear" id="clear" name="Clear">Clear</button>
      </h3>
    </div>
    <div id="outputDiv"></div>
  </body>
</html>
